.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
}

.about__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.about__description strong {
  color: #d6249f;
}

/* extra small */
@media (min-width: 475px) {
  .about {
    gap: 1.5rem;
  }

  .about__content {
    gap: 1.5rem;
  }

  .about__title {
    font-size: var(--size-3xl);
  }

  .about__description {
    font-size: var(--size-base);
  }
}

/* small */
@media (min-width: 640px) {
  .about__img-wrapper {
    margin: 0 auto;
  }

  .about__img {
    width: 28.6875rem;
  }
}

/* medium */
/* @media (min-width: 768px) {
} */

/* large */
@media (min-width: 1024px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .about__title {
    font-size: var(--size-4xl);
  }

  .about__description {
    font-size: var(--size-lg);
  }
}

/* extra large */
@media (min-width: 1280px) {
  .about__content {
    gap: 2rem;
  }

  .about__title {
    font-size: var(--size-5xl);
  }

  .about__description {
    font-size: var(--size-xl);
  }

  .about__img {
    width: 30.75rem;
  }
}

/* double xl */
/* @media (min-width: 1536px) {
} */
